@import url("../misc/soleto/fontsheet.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Soleto';
    font-size: 1.25rem;
    font-weight: 300;
}

#gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 85vh 50vh 50vh 50vh 25vh;
    grid-template-areas: 
    "he he"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "s4 s4"
    "fo fo"
    ;
}

#header {
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 60vw;
    background-color: blueviolet;
    right: -60vw;
    top: 10vh;
    transition: all 0.5s;
}

#titleText {
    margin-left: 5px;
}

.navLinks {
    font-size: 2rem;
}

.navLinks a {
    text-decoration: none;
}

.navActive {
    transform: translateX(-60vw);
}

.burgerMenu div {
    width: 35px;
    height: 0.25rem;
    background-color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 10px;
    border-radius: 10%;
}

.toggle #line2 {
    opacity: 0;
}

.toggle #line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}