@import url("../misc/soleto/fontsheet.css");

:root {
    --magenta: #dd0890;
    --ultraviolett: #4b0082;
    --turkosmint: #0de1ec;
    --ultramarin: #200c9c;
    --granitgra: #f0f0f0;
    --kolgra: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Soleto';
    font-size: 1.25rem;
    font-weight: 300;
}

#gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 90vh 50vh 50vh 50vh 25vh;
    grid-template-areas: 
    "he he"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "s4 s4"
    "fo fo"
    ;
}

#header {
    position: fixed;
    height: 10vh;
    width: 100vw;
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 250px;
    background-color: blueviolet;
    right: -250px;
    top: 10vh;
    transition: all 0.5s;
}

#titleText {
    margin-left: 5px;
}

.navLinks {
    font-size: 2rem;
}

.navLinks a {
    text-decoration: none;
}

.navActive {
    transform: translateX(-250px);
}

.burgerMenu div {
    width: 2.188rem;
    height: 0.25rem;
    background-color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 25px;
    border-radius: 0.1rem;
    transition: all 0.5s;
}

.toggle #burgerLine2 {
    transform: rotate(405deg);
}

.toggle #burgerLine1 {
    transform: translateX(50px);
    opacity: 0;
}

.toggle #burgerLine3 {
    transform: translateX(-50px);
    opacity: 0;
}

#schoolPage {
    grid-area: s1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}

h2 {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
}

#schoolMotto1 {
    margin-top: auto;
}

#makerspaceLogo {
    width: 100vw;
    margin-top: 25px;
    margin-bottom: 25px;
}

#schoolMotto2 {
    margin-bottom: auto;
}