@import url("../misc/soleto/fontsheet.css");

:root {
    --magenta: #dd0890;
    --ultraviolett: #4b0082;
    --turkosmint: #0de1ec;
    --ultramarin: #200c9c;
    --granitgra: #f0f0f0;
    --kolgra: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Soleto';
    font-size: 1.5rem;
    font-weight: 200;
    overflow-x: hidden;
    padding-top: 10vh;
}

#gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh 500px auto 500px auto auto;
    grid-template-areas: 
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "sI sI"
    "s4 s4"
    "fo fo"
    ;
}

#header {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--kolgra);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--granitgra);
}

h2 {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 250px;
    background-image: linear-gradient(305deg, var(--ultraviolett), var(--magenta));
    right: 0px;
    transform: translateX(250px);
    top: 10vh;
    opacity: 0;
    transition: all 0.5s;
}

#titleText {
    margin-left: 1vw;
}

#titleTextThin {
    font-weight: 300;
}

.navLinks {
    font-size: 2rem;
}

.navLinks li {
    margin-top: 20%;
    margin-bottom: 20%;
}

.navLinks a {
    text-decoration: none;
    color: var(--granitgra);
}

.navLinks a:hover {
    text-decoration: underline;
}

.navActive {
    transform: translateX(0);
    opacity: 100;
}

.burgerMenu div {
    width: 2.188rem;
    height: 0.25rem;
    background-color: var(--granitgra);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 2.5vw;
    border-radius: 0.1rem;
    transition: all 0.5s;
}

.burgerMenu:hover {
    cursor: pointer;
}

.toggle #burgerLine2 {
    transform: rotate(360deg);
}

.toggle #burgerLine1 {
    transform: translateX(50px);
    opacity: 0;
}

.toggle #burgerLine3 {
    transform: translateX(-50px);
    opacity: 0;
}

#schoolPage {
    grid-area: s1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--granitgra);
    color: var(--kolgra);
}

#makerspaceLogo {
    width: 75vw;
    margin-top: 25px;
    margin-bottom: 25px;
}

#homeImage1 {
    grid-area: s2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#visionPage {
    grid-area: s3;
    background-color: var(--magenta);
    color: var(--granitgra);
    padding: 30px;
}

#visionPage p {
    margin-bottom: 1rem;
}

#visionPage h2 {
    margin-bottom: 1rem;
}

#homeSideImage {
    grid-area: sI;
    height: 100%;
    width: 100vw;
}

#usps {
    grid-area: s4;
    background-color: var(--ultraviolett);
    color: var(--granitgra);
    padding: 30px;
}

#usps p {
    margin-bottom: 1rem;
}

#usps h2 {
    margin-bottom: 1rem;
}

footer {
    grid-area: fo;
    display: flex;
    flex-direction: column;
    background-color: var(--granitgra);
    background-image: linear-gradient(135deg, var(--granitgra), var(--turkosmint));
    /* background-image: linear-gradient(to right, var(--magenta), var(--ultraviolett), var(--ultramarin), var(--turkosmint)); */
}

#footerAdress {
    margin: 30px;
}

#footerLogo img {
    height: 50px;
    width: auto;
    margin-left: 30px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
    #gridWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90vh 500px auto auto auto;
        grid-template-areas: 
        "s1 s1"
        "s2 s2"
        "s3 sI"
        "s4 s4"
        "fo fo"
        ;
    }

    #homeSideImage {
        max-width: 50vw;
        width: auto;
    }

    #usps p {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }
}